/*  Navbar  */
.navbar {
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

.navbar-brand {
  font-weight: bold;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.navbar-brand img {
  /* Aucun filtre ici pour garder les vraies couleurs */
  height: 30px;
  width: 30px;
}

/* Liens de navigation  */
.nav-link {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--footer-link-color); /* différent si souhaité pour hover */
}

/*  Boutons */
.btn-primary {
  background-color: #C3B8FD;
  border-color: #C3B8FD;
  color: black !important;
}

.btn-outline-light,
.btn-outline-dark {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/*  Barre de recherche */
.search-box {
  position: relative;
}

.search-icon {
  font-size: 1.3rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  margin-left: 8px;
  border: 1px solid var(--text-color);
  background: transparent;
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.search-box:hover .search-input {
  width: 160px;
  opacity: 1;
  padding: 4px 8px;
}

/* Icone de thème dark light  */
.theme-icon {
  color: var(--text-color);
  transition: color 0.3s ease;
}

/* Icone de thème  */
.theme-icon-profile {
  color: var(--text-color);
}

.profile-icon {
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile-icon:hover {
  opacity: 0.8;
}

.dropdown-menu {
  min-width: 180px;
  font-size: 14px;
}

.dropdown-item i {
  font-size: 16px;
}
