<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-3">
    <a class="navbar-brand d-flex align-items-center" style="cursor: pointer;" (click)="navigateAccueil()">
      <img src="assets/logoLight-png.png" alt="logo" width="30" height="30" class="me-2">
      <span class="fw-bold">nexora</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Menu principal -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="cursor: pointer;" (click)="navigateAccueil()">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard-buy-crypto">Acheter des cryptos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/markets">Marchés</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item me-2">
          <div class="search-box d-flex align-items-center">
            <i class="bi bi-search search-icon"></i>
            <input type="text" class="form-control search-input" placeholder="Rechercher..." />
          </div>
        </li>
            <!-- Si non connecté -->
        <ng-container *ngIf="!isAuthenticated; else loggedInBlock">
          <li class="nav-item me-2">
            <a class="nav-link" routerLink="/login">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" routerLink="/register">Inscription</a>
          </li>
        </ng-container>

        <!-- Si connecté -->
        <ng-template #loggedInBlock>
          <li class="nav-item">
            <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
          </li>
        </ng-template>
        <li class="nav-item">
          <button class="btn btn-outline-light ms-2" (click)="toggleTheme()" title="Changer le thème">
            <i class="bi" [ngClass]="currentThemeIcon"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
