.navbar {
  background-color: #10101A;
}
.navbar-brand {
  font-weight: bold;
  color: #FFFFFF;
}
.navbar-brand img {
  filter: brightness(0) invert(1);
}
.nav-link {
  color: #FFFFFF;
}
.nav-link:hover {
  color: #FFFFFF;
}
.btn-primary {
  background-color: #C3B8FD;
  border-color: #C3B8FD;
  color: black !important;
}

.search-box {
  position: relative;
}

.search-icon {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  margin-left: 8px;
  border: 1px solid white;
  background: transparent;
  color: white;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

/* Affiche le champ au survol */
.search-box:hover .search-input {
  width: 160px;
  opacity: 1;
  padding: 4px 8px;
}

/* .btn {
  color: black !important;
} */

body.dark-theme {
  background-color: #121212;
  color: white;
}

body.light-theme {
  background-color: #f8f9fa;
  color: black;
}
