.navbar {
  background-color: #10101A;
}
.navbar-brand {
  font-weight: bold;
  color: #FFFFFF;
}
.navbar-brand img {
  filter: brightness(0) invert(1);
}
.nav-link {
  color: #FFFFFF;
}
.nav-link:hover {
  color: #FFFFFF;
}
.btn-primary {
  background-color: #C3B8FD;
  border-color: #C3B8FD;
  color: black !important;
}

/* .btn {
  color: black !important;
} */