.crypto-section {
  background-color: var(--hero-color);
  color: var(--text-color);
}

.py-4 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}
.crypto-table-container {
  max-width: 700px;
  margin: auto;
}

.crypto-table {
  background-color: var(--card-color);
  border-radius: 12px;
}

span {
  color: var(--text-color);
}
.crypto-row:hover {
  background-color: var(--cta-color);
  cursor: pointer;
  border-radius: 8px;
}

.text-success {
  color: #00c46b !important;
}

.text-danger {
  color: #ff4e4e !important;
}
