form {
  background-color: var(--background-color);
}
.card-body {
  background-color: var(--background-color);
  border: 3px solid #6F6F6F;
  border-radius: 25px;
  color: var(--text-color);
}

.form-control {
  background-color: var(--background-color);
  border: 2px solid #6F6F6F;
  border-radius: 15px;
  color: var(--text-color);
  font-size: 15px;
}

.form-control:focus {
  border-color: #C3B8FD;
  box-shadow: 0 0 0 0.25rem rgba(183, 105, 202, 0.25);
}

/* title  */
.title {
  font-weight: 500;
  font-size: 24px;
}

.form-label {
  margin-left: 0.5rem;
}

/*  Boutons */
.btn-primary {
  background-color: #C3B8FD;
  border-color: #C3B8FD;
  border-radius: 10px;
  color: black !important;
}

/* checkbox */
.form-check-input {
  background-color: var(--background-color);
  border: 2px solid #6F6F6F;
  cursor: pointer;
}

.form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ff9900' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
