p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
}

span {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  color: yellow;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 100px;
}