<app-header></app-header>

<section class="hero-section text-light">
  <div class="container py-5">
    <div class="row align-items-center stroke-row">
      <!-- Liste des cryptomonnaies -->
      <div class="col-md-8">
        <div *ngIf="errorMessage" class="alert alert-danger text-center">
          {{errorMessage}}
        </div>
        <app-crypto-details (coinSelected)="onCoinSelected($event)"></app-crypto-details>
      </div>

      <!-- Formulaire achat/vente -->
      <div class="col-md-4">
        <form (ngSubmit)="submit()">
          <div class="d-flex mb-3">
            <button class="btn btn-toggle me-2" type="button" [class.active]="mode === 'buy'"
              (click)="mode = 'buy'; calculateConversion()">
              Acheter
            </button>
            <button class="btn btn-toggle" type="button" [class.active]="mode === 'sell'"
              (click)="mode = 'sell'; calculateConversion()">
              Vendre
            </button>
          </div>

          <!-- Montant entré -->
          <div class="card card-custom mb-3">
            <div class="d-flex justify-content-between">
              <span>{{ mode === 'buy' ? 'Dépense' : 'Vendre' }}</span>
              <span>{{ mode === 'buy' ? 'Points' : selectedCoin?.cryptoName }}</span>
            </div>
            <input type="number" class="form-control text-center mt-2" name="amountInput" [(ngModel)]="amountInput"
              (input)="calculateConversion()" required min="0.000001" />
          </div>

          <!-- Montant calculé -->
          <div class="card card-custom mb-3">
            <div class="d-flex justify-content-between">
              <span>{{ mode === 'buy' ? 'Recevoir' : 'Obtenir' }}</span>
              <span>
                {{ mode === 'buy' ? selectedCoin?.cryptoName : 'Points' }}
              </span>
            </div>
            <h2 class="text-center mt-2">
              {{ resultAmount | number:'1.6-6' }}
            </h2>
          </div>

          <button type="submit" class="btn submit-btn w-100" [disabled]="!amountInput">
            Soumettre
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>