<form [formGroup]="verifyForm" (ngSubmit)="onSubmit()" class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card-body p-4">

          <a class="navbar-brand d-flex align-items-center mb-4">
            <img src="assets/logoLight-png.png" alt="logo" width="30" height="30" class="me-2">
            <span class="fw-bold">nexora</span>
          </a>
          <h1 class="mb-3">Un code vous a été envoyé par email.</h1>
          <div class="mb-4">
            <label class="form-label ms-2" for="verificationCode">Code de vérification</label>
            <input id="verificationCode" type="text" class="form-control form-control-lg"
              formControlName="verificationCode" />
            <div *ngIf="submitted && verifyForm.get('verificationCode')?.hasError('required')" class="text-danger mt-2">
              Le code est requis.
            </div>
          </div>
          <div class="d-grid mt-3">
            <button class="btn btn-primary" type="submit" [disabled]="verifyForm.invalid">
              Vérifier
            </button>
          </div>
          <div *ngIf="successMessage" class="text-success mt-3">{{ successMessage }}</div>
          <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
</form>