p {
  color: #A1A0A9;
}

h2 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
}

.hero-section {
  background-color: var(--background-color);
} 

.card {
  background-color: var(--card-color);
}

.btn-primary {
  background-color: #C3B8FD;
  border-color: #C3B8FD;
}

.btn {
  color: black !important;
}

.cta-section {
  background-color: var(--cta-color);
}

.row {
  background-color: var(--stroke-color);
  border: 8px solid var(--stroke-border);
  border-radius: 15px;
}