<!-- Header -->
<app-header></app-header>

<!-- Home page -->
<section class="hero-section text-light">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4">
        <h1>Rejoignez l'aventure dès le début !</h1>
        <p>Soyez parmi les premiers à explorer la simulation et à tester vos stratégies en cryptomonnaie.</p>
        <a routerLink="/register" class="btn btn-primary" role="button">Rejoindre</a>
      </div>

      <div class="col-md-6">
        <app-crypto-details></app-crypto-details>
      </div>
    </div>
  </div>
</section>

<section class="cta-section text-center text-light py-5">
  <div class="container">
    <h2>Plongez dans la simulation crypto dès maintenant !</h2>
    <a routerLink="/demo" class="btn btn-primary mt-3" role="button">Allons-y !</a>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>
