<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card-body p-4 ">
          <a class="navbar-brand d-flex align-items-center mb-3">
            <img src="assets/logoLight-png.png" alt="logo" width="30" height="30" class="me-2">
            <span class="fw-bold">nexora</span>
          </a>
          <p class="mb-5">Veuilliez entrer votre identifiant et votre mot de passe!</p>

          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          <div class="mb-3">
            <label class="form-label" for="typeEmailX">Email</label>
            <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email"
              placeholder="example@gmail.com" />
            <div *ngIf="submit && loginForm.get('email')?.hasError('required')" class="text-danger">
              Le champ est requis.
            </div>
            <div *ngIf="submit && loginForm.get('email')?.hasError('pattern')" class="text-danger mt-1">
              L'email doit respecter le format.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="typePasswordX">Mot de passe</label>
            <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
            <div *ngIf="submit && loginForm.get('password')?.hasError('required')" class="text-danger">
              Le champ est requis.
            </div>
          </div>
          <div class="d-grid mt-4">
            <button class="btn btn-primary" type="submit">Connexion</button>
          </div>
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <p style="color: #6F6F6F;">Vous n'avez pas de compte ?
          <a routerLink="/register" class="fw-bold" role="button">Inscription</a>
        </p>
      </div>
    </div>
  </div>
</form>