<p>dashboard works!</p>


<div class="dashboard-container">
  <h2>Liste des utilisateurs</h2>

  <div *ngIf="data.length > 0; else noUsers">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data">
          <td>{{ user.id }}</td>
          <td>{{ user.pseudonym }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.verificationCode }}</td>
          <td>{{ user.verificationCodeExpiresAt }}</td>
          <td>{{ user.enabled }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noUsers>
    <p>Aucun utilisateur trouvé.</p>
  </ng-template>
</div>
